<head>
    <link rel="stylesheet" href="../css/songslist.css">
    <link rel="stylesheet" href="../css/footer.css">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <% include ../partials/header.ejs %>

    <div class="container" style="margin-top:8px;">
        <div class="row">
            <div class="col-sm-3" style="margin-top:20px">
               
                    <div class="text-left" style="font-size:20px;font-family: cursive; margin-bottom:10px">
                        <%= album.albumname %>
                    </div>
                   
                
                <img  style="width:80%; height:35%"src="/images/uploads/<%= album.cover %>">
                <a href="/albums/details/<%= id %>"> <button class="btn btn-secondary" style="margin-top:30px;width:80%">Go Back
                    </button></a>
                   
            </div>
           


            <div class="col-sm-7" style="margin-top:20px">
                    <div class="text-center" style="font-size:20px;font-family: cursive; margin-bottom:10px">Search You Music
                            </div>
                            
                    <form action="/seach-result" method="post" style="width:114%;">
                        <div class="form-group ad-40 ">
                            <div class="input-group search-style ">
                                <input class="form-control new-search-bar" name="search" id="search" placeholder="Search your fav song/album"
                                    type="text">
                                <span class="input-group-btn col-lg-3">
                                    <button class="btn input-btn" type="" id="search-form">Search</button>
                                </span>
                            </div>
                        </div>
                    </form>
                <ul class="nav nav-tabs">
                    <li class="nav-item" style="width:100%">
                        <a class="nav-link active show" data-toggle="tab" href="#songs">Songs</a>
                    </li>
                    <!-- <li class="nav-item" style="width:50%">
                        <a class="nav-link" data-toggle="tab" href="#alubum">Albums</a>
                    </li> -->



                </ul>
                <div id="myTabContent" class="tab-content">
                    <!-- <div class="tab-pane fade" id="alubum" style="margin-top:20px">
                        <div class="list-group float-right" style="width:50%">
                          
                            <span class="list-group-item list-group-item-action">
                                <span> Alubm </span>
                                <span class="float-right">
                                    <i class="fa fa-play"></i>
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </span>
                            </span>               
                            
                        </div>
                    </div> -->
                    <div class="tab-pane fade active show" id="songs" style="margin-top:20px">
                        <div class="list-group float-left" style="width:100%">
                         
                            <span class="list-group-item list-group-item-action">
                                <span> <i class="fa fa-music"></i> Cras justo </span>
                                <span class="float-right">
                                    <i class="fa fa-play"></i>
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </span>
                            </span>
                            <span class="list-group-item list-group-item-action">
                                <span> <i class="fa fa-music"></i> Cras justo </span>
                                <span class="float-right">
                                    <i class="fa fa-play"></i>
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </span>
                            </span>
                            <span class="list-group-item list-group-item-action">
                                    <span> <i class="fa fa-music"></i> Cras justo </span>
                                    <span class="float-right">
                                        <i class="fa fa-play"></i>
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </span>
                                </span>
                                <span class="list-group-item list-group-item-action">
                                        <span> <i class="fa fa-music"></i> Cras justo </span>
                                        <span class="float-right">
                                            <i class="fa fa-play"></i>
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </span>
                                    </span>
                                    <span class="list-group-item list-group-item-action">
                                        <span> <i class="fa fa-music"></i> Cras justo </span>
                                        <span class="float-right">
                                            <i class="fa fa-play"></i>
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </span>
                                    </span>
                                    <span class="list-group-item list-group-item-action">
                                            <span> <i class="fa fa-music"></i> Cras justo </span>
                                            <span class="float-right">
                                                <i class="fa fa-play"></i>
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </span>
                                        </span>
                                    
                                        <div class="float-right" style="margin-top:10px">
                                                <ul class="pagination pagination-sm">
                                                  <li class="page-item disabled">
                                                    <a class="page-link" href="#">&laquo;</a>
                                                  </li>
                                                  <li class="page-item">
                                                    <a class="page-link" href="#">1</a>
                                                  </li>
                                                  <li class="page-item">
                                                        <a class="page-link" href="#">2</a>
                                                      </li>
                                                      <li class="page-item">
                                                            <a class="page-link" href="#">3</a>
                                                          </li>
                                                
                                                  <li class="page-item">
                                                    <a class="page-link" href="#">&raquo;</a>
                                                  </li>
                                                </ul>
                                              </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-2">
                    <div class="float-right">
                <i class="fa fa-pencil-square-o btn" data-toggle="modal" data-target="#addsongs" aria-hidden="true">Edit</i>
                <i  data-id="<%= id %>" class="fa fa-trash-o btn delete-album" aria-hidden="true">Delete</i>
               
                </div>
            </div>
            <div class="modal fade" id="addsongs" tabindex="-1" role="dialog" aria-labelledby="addsongs"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body clas2">
                        <form method="post" action="/albums/edit/<%= id %>">
                            <fieldset>
                                <legend>Update AlbumName</legend>

                                <div class="form-group" style="display:flex">

                                    <input placeholder="album-name" name="albumname" style="width:100%" value="<%=album.albumname %>"type="text" class="form-control"
                                        id="exampleInputText" aria-describedby="textHelp">
                                </div>
                                <button type="submit" class="btn btn-secondary"  style="margin-top:10px;background-color:white !important;color:black">Submit</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-top:10px;background-color:white !important;color:black">Close</button>

                            </fieldset>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        </div>
    </div>



    <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
    <script src="https://bootswatch.com/_assets/js/custom.js"></script>
    <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script>
</body>


<% include ../partials/footer.ejs %>